
<div nz-row class="_login">
    <div nz-col nzSpan="8"></div>
    <div nz-col nzSpan="8" nzJustify="space-around" nzAlign="middle">
      <form nz-form [formGroup]="form" class="login-form" >
        <nz-form-item>
          <nz-form-control >
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="注册账号" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control >
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="注册密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control >
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="confirmpassword" placeholder="确认密码" />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="24">
              <span  *ngIf="needVisibility" class = "failed">{{registerResult}}</span>
          </div>
        </div>
        <button (click)="register()" routerLink="/login/register" routerLinkActive="active" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">注册</button>
        <button routerLink="/login/logincheck" routerLinkActive="active" nz-button class="login-form-button login-form-margin" [nzType]="'primary'">返回登录</button>
      </form>
    </div>
    <div nz-col nzSpan="8"></div>
  </div>
