<div *ngIf="isLicense">
  <h1 class="h1">当前许可码:{{licenseValue}}</h1>
  <div nz-row>
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8">
      <div nz-row class="_login">
        <div nz-col nzSpan="8"></div>

        <div nz-col nzSpan="8" nzJustify="space-around" nzAlign="middle">
          <form nz-form [formGroup]="form" class="login-form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="license" placeholder="新许可码" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="confirmlicense" placeholder="确认许可码" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="24">
                <span *ngIf="needVisibility" class="failed">{{loginResult}}</span>
              </div>
            </div>
          </form>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isLoading"
            (click)="changeLicense()">修改许可</button>
        </div>
        
        <div nz-col nzSpan="8"></div>
      </div>
    </div>

    <div nz-col nzSpan="8"></div>
  </div>
</div>

<div *ngIf="!isLicense">
  <h1 class="h1">当前账号未授权</h1>
  <div nz-row>
    <div nz-col nzSpan="8"></div>

    <div nz-col nzSpan="8">
      <div nz-row class="_login">
        <div nz-col nzSpan="8"></div>

        <div nz-col nzSpan="8" nzJustify="space-around" nzAlign="middle">
          <form nz-form [formGroup]="form" class="login-form">
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="license" placeholder="许可码" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="confirmlicense" placeholder="确认许可码" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <div nz-row class="login-form-margin">
              <div nz-col [nzSpan]="24">
                <span *ngIf="needVisibility" class="failed">{{loginResult}}</span>
              </div>
            </div>
          </form>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" [nzLoading]="isLoading"
            (click)="changeLicense()">进行授权</button>
        </div>

        <div nz-col nzSpan="8"></div>
      </div>
    </div>

    <div nz-col nzSpan="8"></div>
  </div>
</div>