


<div nz-row class="theme">
    <div nz-row >
        <div nz-col nzSpan="9"></div>
        <div nz-col nzSpan="8">
          
            <div nz-row >
    
                <div nz-col nzSpan="5">     
                    <input nz-input type="text" [(ngModel)]="inputTheme" >
                </div>   
    
                <div nz-col nzSpan="2">
    
                </div>
                    <div nz-col nzSpan="5">
                        <button nz-button  [nzType]="'primary'" (click) = "add()"> 添加</button>
                    </div>
            </div>
             
              
        </div>
    </div> 

    <br><br><br><br>
    <div nz-col nzSpan="10"></div>
    <div nz-col nzSpan="8">
        <div *ngFor="let item of items">
            <nz-form-item>
                <label>{{item.name}}</label>
                <a (click) = "delete(item)"> 删除</a>
            </nz-form-item>
        </div>
    </div>
</div>
    