
  nz-header,
  nz-footer {
    background: #003366;
    color: #fff;
  }

  nz-footer {
    line-height: 1.5;
  }


  nz-content {
    background: #fff;
  }

  nz-layout {
    margin-bottom: 48px;
    background: #fff;
  }

  .content{
    margin-top: 50px;
  }

  nz-select {
    width: 100px;
  }


  .theme{
    width: 100px;
  }

  .year{
    width: 100px;
  }

  .ant-btn-primary {
    color: #fff;
    background-color:#003366;
    border-color:#fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  }

  i{
    color:#fff;
  }

 

  [nz-carousel-content] {
    text-align: center;
    height: 80vh;
    line-height: 500px;
    background: #f4f4f4;
    color: #fff;
    overflow: hidden;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
  }


  .h1
  {
      color: #003366;
      text-align:center;
  }

  .noimage{
    text-align:center;
    margin-top: 300px;
    color: #003366;

  }

  .img4{
    margin: auto;
    height: 80vh;
    width:  80vw;
   
  }
